body {
  background-color: #F5E6D3; /* beige */
  color: #6B3E26; /* marron */
}

.header {
  background-color: #0B8457; /* vert */
  color: white;
}

.btn {
  background-color: #E67E22; /* orange */
  color: white;
  border-radius: 25px;
}

.btn:hover {
  background-color: #6B3E26; /* marron */
}

.footer {
  background-color: #6B3E26; /* marron */
  color: white;
}
.apropos-container {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px 20px;
}

.apropos-container img {
  width: 300px;
  max-width: 100%;
  border-radius: 15px; /* image arrondie */
}
.produits-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.produit-card {
  width: 300px;
  background: white;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.produit-card img {
  width: 100%;
  border-radius: 15px;
}
@media (max-width: 768px) {

  /* À propos : photo au-dessus */
  .apropos-container {
    flex-direction: column;
    text-align: center;
  }

  /* Produits : 1 colonne */
  .produits-grid {
    flex-direction: column;
    align-items: center;
  }

  .produit-card {
    width: 90%;
  }

}